html{
   
    background-color: #1b2a4e;

}
header{
    background-color: white;
    
    height: 20%;

}
section{
    
    height: 200%;
    background-color: #1b2a4e;
}

#tuempresa{

    color: white;
    background-color: #1b2a4e;

}
footer{
    height: 20%;
}