html {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    background-color:white;
}


.navbar-brand{
    padding-left: 20px;
    font-family:'Times New Roman', Times, serif;
}

.navbar{
   /* \\background-color: gray !important;  */
}

#color{
    background-color: white !important;
}


#divprincipal{
    margin-left: 15%;

}

iframe{
    background-color: white;
}


#reviews{


    border-radius: 5px;
    height: 30px;
    width: 400px;
}

i{
    padding-right: 10px;

   color: rgb(66, 167, 28) ;
}


.container-sm {
    width: 440px; /* Can be in percentage also. */
    
}