html {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    background-color:white;
}


.navbar-brand{
    padding-left: 20px;
    font-family:'Times New Roman', Times, serif;
}

#divprincipal{
    margin-left: 15%;

}

#comentarios{

    border-radius: 5px;
    height: 30px;
    width: 400px;
}

i{
  padding-right: 10px;
  color: rgb(66, 167, 28) ;
}

.container-sm {
    width: 440px; /* Can be in percentage also. */
    
}