html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;

}

img{
    width: 400px;
    height: 200px;
}

table{
    border: 1px solid black;
    color: #000;
    font-size: 14px;
    padding: 10px;

}

h1{
    font-size: 20px;
    color: #333;
}

h2{
    font-size: 16px;
    color: #666;

}

thead{
    background-color: #666;
    font-size: 12px;
    color: white;
}

a{
    font-size: 12px;
    color: blue;
}

p, li, tfoot{
    color: #000;
    font-size: 12px;
}

thead{
    background-color: #666;
}

tbody{
    background-color: #fff;
    
}

tfoot{
    
    background-color: #ccc;
}


